go 1.26.2

use (
	./libs/auth
	./libs/db
	./libs/events
	./libs/logger
	./libs/testutils
	./services/compliance
	./services/discovery
	./services/enrichment
	./services/graph
	./services/iam
	./services/scoring
	./services/verification
)
